@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
html, 
body{
    margin : 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto ;
    scroll-behavior: smooth;
}
.wrapper{
    width: 80%;
    margin-left: 30px;
    padding : 20px 0px 20px 0px;
}

nav {
    background-color: #153448;
    color: #fff;
    position: sticky;
    top : 0;
    z-index: 100;
}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}

.menu{
    width : 50%;
}

.menu > ul{
    display : flex;
    list-style-type: none;
    margin : 0px;
    padding: 0px;
    justify-content: space-between;
}

 .menu > ul > li > a{
    text-decoration: none;
    color : #fff;
 }

 .logo{
    display: flex;
    align-items: center;
 }
 .logo > img{
   padding-left: 20px;
   height : 36px;
   width: 40px;
 }

 header{
    background : url('../images/ss.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    position: relative;
    font-family:"Kanit", sans-serif ;
    letter-spacing: 5px;
 }

 .header-opacity{
    background-color: #153448;
    width : 100%;
    height : 100%;
    opacity : 0.7;
    position : absolute;
    top : 0;
    left : 0;
 }

 .header-jumbotron{
    position:absolute;
    top : 0;
    left : 0;
    display : flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction : column;
    text-align : center;
 }

 .header-jumbotron > h4{
    color : #ffde3d;
    font-size: 1.5rem;
    margin : 0px;
    padding : 0px;
 }

 .header-jumbotron > h5{
    color : #fff;
    font-size: 3rem;
    margin : 0px;
    padding : 5px;
    line-height: 3.7rem;
    text-transform: uppercase;
 }

 .header-jumbotron > p{
   color : #fff;
   margin : 0px 5px 10px 5px;
   padding : 5px;
   font-family: "Nunito Sans", sans-serif;
}

 .button{
      background-color: #ffde3d;
      padding:0;
      border-radius: 5px;
      font-family: "Kanit", sans-serif;
      letter-spacing: 0cm;
      width: 130px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
 }
 
 .buttton-xl{
    font-size: 2.5rem;
 }

 a{
   font-size: 1.2rem;
   text-decoration: none;
   color:#153448;
}

 #about{
   background-color: #EEF7FF;
   color: #153448;
 }

 #about > .wrapper{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   text-align : center;
 }

 #about > .wrapper > h4{
   text-align: center;
   font-size: 2rem;
   margin: 0px 0px 10px 0px;
   padding :30px 0px 10px 0px;
   font-family:"Kanit", sans-serif;
   text-transform: uppercase;
   letter-spacing: 1.5px;
 }

 #about > .wrapper > p{
   text-align : center;
   margin : 0px;
   padding : 0px 30px 0px 30px;
 }


 #statistic{
   background-color: #EEF7FF;
   color: #153448;
   font-family:"Kanit", sans-serif ;
   align-items: center;
 }

 #statistic > .wrapper{
   margin: 0 auto;
   padding: 0px 50px 30px 50px;
   width : 80%;
   display: flex;
   justify-content: space-evenly;
   text-align: center;
 }

 #statistic > .wrapper > div{
   text-align: center;
   justify-content: center;
 }

 #statistic > .wrapper > div > p{
   font-size: 3rem;
   margin : 0px;
   padding : 0px;
 }

 #statistic > .wrapper > div > p > i{
   margin-right: 10px;
   font-size: 3rem;
 }

 #statistic > .wrapper > div > small{
   font-size: 1.5rem;
   color: #ffde3d;
   text-shadow: black ;
 }

#dashboard{
   background-color: #fff;
   color: #153448;
   font-family:"Kanit", sans-serif ;
   align-items: center;
 }

 #dashboard > .wrapper{
   margin: 0 auto;
   padding: 0px 50px 30px 50px;
   width : 84%;
   display: block;
 }

 #dashboard > .wrapper > h4{
   text-align: center;
   font-size: 2rem;
   margin : 0 auto;
   padding :30px 0px 20px 0px;
   text-transform: uppercase;
   letter-spacing:1.5px ;
   display: flex;
   justify-content: center;
   display: block;
 }
 #nav-dashboard{
   background-color: #fff;
   display:block;
   float: left;
   margin-top: 10px;
   margin-bottom: 10px;
 }
 
 #nav-dashboard > .wrapper {
   display: flex;
   justify-content: space-evenly;
   font-weight: bold;
   width: 100%;
   padding: 0px 0px 0px 0px ;
}

form {
   margin-bottom: 20px;
}

.frame{
   display: grid;
   grid-template-columns: 15% 15% 15% 15% 15% 15%;
   grid-gap : 20px;
   width: 100%;
   text-align: center;
   justify-content: center ;
}

.frame > .item {
   border : 1px solid;
   background-color: #153448;
   border-radius: 5px;
} 

.frame > .item > p{
   font-size: medium;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
   font-family:Arial, Helvetica, sans-serif ;
   font-size: 18px;
}

.frame > .item > p > i{
   margin-right: 1px;
   font-size: 1.5rem;
   color: #ffde3d;
}

.frame > .item > small{
   color : #ffde3d;
   font-size: 23px;
   align-items: center;
   text-align: center;
}

.chart {
   width: 30%;
   display: inline-block;
   margin: 1%;
   justify-content: space-around;
}

.chartwrapper {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}



#analysis{
   background-color:#E3F4F4;
   color: #3C5B6F;
   font-family:"Kanit", sans-serif ;
   align-items: center;
 }

 #analysis > .wrapper{
   margin: 0 auto;
   padding: 0px 50px 30px 50px;
   width : 80%;
   display: flex;
   justify-content: space-evenly;
 }

 #analysis > .wrapper > h4{
   text-align: center;
   font-size: 2rem;
   margin : 0px;
   padding :30px 0px 30px 0px;
   text-transform: uppercase;
   letter-spacing:1.5px ;
 }

 #team{
   background-color: #153448;
   color: #EEF7FF;
   font-family:"Kanit", sans-serif ;
   align-items: center;
 }

 #team > .wrapper{
   margin: 0 auto;
   padding: 0px 50px 30px 50px;
   width : 80%;
   display: flex;
   justify-content: space-evenly;
 }

 #team > .wrapper > h4{
   text-align: center;
   font-size: 2rem;
   margin : 0px;
   padding :30px 0px 30px 0px;
   text-transform: uppercase;
   letter-spacing:1.5px ;
 }


 button.hamburger{
   background-color: #153448;
   border: none;
   cursor: pointer;
   display: none;
 }

 button.hamburger > i{
   color: #fff;
   font-size: 1.5rem;
 }

 button.hamburger > i.icon-close{
   display  : none;
 }

 @media only screen and (max-width: 1024px){
   .wrapper{
      width: 90%;
   }
}

 @media only screen and (max-width: 900px){
   .menu{
      width: 70%;
   }

   .header-jumbotron > h4{
      font-size: 1.2rem;
   }
   .header-jumbotron > h5{
      font-size: 2.2rem;
      line-height: 2.4rem;
   }
   .header-jumbotron > p{
      font-size: 1rem;
   }
   .button{
      width: 120px;
      height: 60px;
   }
   .buttton-xl{
    font-size: 0.7rem;
   }

   #statistic > .wrapper > div > p{
      font-size: 2.5rem;
      margin : 0px;
      padding : 0px;
 }

 #statistic > .wrapper > div > small{
   font-size: 1rem;
 }

 #statistic > .wrapper > div > p> i{
   font-size: 2.5rem;
 }

 nav > .wrapper {
   display: flex;
   justify-content: space-between;
   font-size: 1rem;
   align-items: center;
}
}

@media only screen and (max-width: 786px){
   .menu{
      width: 70%;
   }
   .header-jumbotron > h4{
      font-size: 1rem;
   }
   .header-jumbotron > h5{
      font-size: 2rem;
      line-height: 2.2rem;
   }
   .header-jumbotron > p{
      font-size: 0.8rem;
   }
   .button{
      width: 110px;
      height: 50px;
   }
   .buttton-xl{
    font-size: 0.5rem;
   }

   #statistic > .wrapper > div > p{
      font-size: 2rem;
      margin : 0px;
      padding : 0px;
   }

   #statistic > .wrapper > div > small{
   font-size: 0.8rem;
   }
   
   #statistic > .wrapper > div > p> i{
   font-size: 2rem;
   }

}

@media only screen and (max-width: 600px){
   .header-jumbotron > h5{
      font-size: 1.8rem;
      line-height: 2.4rem;
   } 
   
   a{
      font-size: 1rem;
   }
   #statistic > .wrapper{
      padding : 10px;
      flex-direction: column;
   }

   #statistic > .wrapper > div{
      display: flex;
   }

   #statistic > .wrapper > div > p{
      font-size: 1.2rem;
      margin : 0px;
      padding : 0px;
   }

   #statistic > .wrapper > div > p> i{
      font-size: 1.2rem;
      }

   #statistic > .wrapper > div > small{
      font-size: 1rem;
      padding-left: 10px;
   }

   #about > .wrapper > div {
      width: 100%;
   }

   button.hamburger{
      display: inline;
    }

    .menu{
      display : none;
    }
    .tampil{
      display: inline;
    }

    .tampil > ul {
      flex-direction: column;
      background-color: #153448;
      width: 63.4%;
      position: fixed;
      top : 85px;
    }

    .tampil > ul > li{
      padding: 10px 20px 10px 20px;
}
}