@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

nav > .wrapper {
  margin: auto;
  padding: 10px 5vw 10px 5vw;
  top: 0;
  height: 50px;
}

nav {
  background-color: #153448;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav > .wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
}

.menu {
  width: 75%;
  margin-right: 3%;
}
.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  justify-content: end;
  gap: 25px;
}
.menu > ul li {
  display: inline-block;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 550;
}
.menu > ul > li > a:hover {
  border-bottom: 2px solid #fff;
}



.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  margin-left: 1%;
  height: 40px;
}

.header1 {
  background: url("../assets/images/team-5.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: relative;
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
}
.header-opacity {
  background-color: #153448;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
.header-jumbotron {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.header-jumbotron > h4 {
  color: #ffde3d;
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
}
.header-jumbotron > h5 {
  color: #fff;
  font-size: 3rem;
  margin: 0px;
  padding: 5px;
  line-height: 3.7rem;
  text-transform: uppercase;
}
.header-jumbotron > p {
  color: #fff;
  margin: 0px 5px 10px 5px;
  padding: 5px;
  font-family: "Nunito Sans", sans-serif;
}

.button {
  background-color: #ffde3d;
  padding: 0;
  border-radius: 15px;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0cm;
  width: 130px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  color: #153448;
}

#about {
  background-color: #153448;
  color: #fff;
}
#about > .wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}
#about > .wrapper > h4 {
  text-align: center;
  font-size: 2rem;
  margin: 0px 0px 10px 0px;
  padding: 30px 0px 10px 0px;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#about > .wrapper > p {
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px 18px 30px;
  font-size: 18px;
  width: 75%;
}

#statistic {
  background-color: #153448;
  color: #fff;
  font-family: "Kanit", sans-serif;
  align-items: center;
}
#statistic > .wrapper {
  margin: 0 auto;
  padding: 0px 50px 30px 50px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#statistic > .wrapper > div {
  padding-top: 20px;
  text-align: center;
  justify-content: center;
}
#statistic > .wrapper > div > p {
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  color: #ffde3d;
}
#statistic > .wrapper > div > p > img {
  width: 50px;
  margin-right: 5px;
  font-size: 3rem;
  color: #ffde3d;
}
#statistic > .wrapper > div > small {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: black;
}

#dashboard {
  background-color: whitesmoke;
  color: #153448;
  font-family: "Kanit", sans-serif;
  align-items: center;
}
#dashboard > .dashboard {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#dashboard .dashboard {
  padding: 0px 0px 20px 0px;
}
#dashboard > .dashboard > h3 {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: -50px;
  padding: 30px 0px 20px 0px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  display: block;
}

#dashboard .dashboard h4 {
  text-align: right;
  margin-top: 1px;
  margin-right: 22px;
  font-family: "Nunito Sans", sans-serif;
}
#dashboard .dashboard h4 a {
  font-size: 15px;
}
#dashboard .dashboard h4 p {
  font-size: 15px;
}

#nav-dashboard {
  margin-right: 20px;
  margin-left: 20px;
}

.filter {
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 70px;
  padding: 15px;
  background-color: #153448;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  height: 25px;
  border-radius: 10px;
}

.filter h2 {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  margin: 0;
}
.filter img {
  width: 20px;
  margin-right: 5px;
}
.filter form {
  display: flex;
  align-items: center;
}
.filter form select {
  margin-right: 10px;
  background-color: #ffff;
  padding: 2px;
  font-family: "Montserrat", sans-serif;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#dashboard > .dashboard > main {
  margin: 125px 0 20px;
  grid-area: main;
  display: grid;
  grid-template-areas:
    "section1 section1 section1 section1"
    "section2 section2 section2 section2"
    "section3 section3 section3 section3"
    "section4 section4 section4 section4";
  grid-template-columns: repeat(4, 1fr);
}

.section-1 {
  margin-top: 15px;
  margin-bottom: 0px;
  grid-area: section1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 7px;
  width: 96.8%;
  margin-right: 20px;
  margin-left: 20px;
  background-color: whitesmoke;
  z-index: 95;
}

.section-2 {
  grid-area: section2;
  width: 99%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 15px;
  z-index: 94;
}
.section-3 {
  grid-area: section3;
  margin-top: 25px;
  display: flex;
  width: 99.5%;
  justify-content: space-evenly;
  background-color: whitesmoke;
  margin-left: 5px;
  z-index: 93;
}
.section-4 {
  grid-area: section4;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-evenly;
  background-color: whitesmoke;
  margin-left: 10px;
  z-index: 93;
}

.section-1 .card {
  margin-top: 10px;
  flex-basis: 270px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #153448;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
}
.section-1 > .card > p {
  font-size: 2rem;
  color: #ffde3d;
  font-weight: 600;
  margin: auto;
  align-items: center;
  margin-top: -5px;
  margin-bottom: -6px;
}
.section-1 > .card > p > i {
  margin-right: 15px;
}
.section-1 > .card > small {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}

.section-2 .chart {
  background-color: white;
  border-radius: 5px;
  margin-top: 0px;
  width: 98%;
  margin-left: 5px;
}
.section-2 .chart-container {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
  height: 390px;
  margin-top: 0px;
}

.section-3 .chart {
  background-color: white;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 9px;
}
.section-3 .chart-container {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 385px;
  height: 310px;
  margin-top: 0px;
}

.section-4 .chart {
  background-color: whitesmoke;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4 .chart-container {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 590px;
  height: 310px;
  margin: 0 5px;
}

.table-container {
  max-height: 1000px;
  overflow-y: auto;
  padding: 0;
  margin-top: 0;
  position: relative;
}

.table-container h2 {
  margin: 0 0 20px 0;
  padding: 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #575656;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  border-bottom: 1px solid #ddd;
  align-items: top;
  font-family: Arial;
}

table {
  width: 100%;
  height: 400px;
  border-collapse: collapse;
  font-size: 13px;
  table-layout: fixed; /* Added */
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.section-5 {
  width: 96%;
  grid-area: section5;
  background-color: white;
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
  justify-content: center;
  align-items: center; /* Center content horizontally */
  justify-content: center;
  margin-left: 30px;
  z-index: 1;
  margin-top: 15px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#dataTable {
  width: 98%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#dataTable th,
#dataTable td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

#dataTable th {
  background-color: #f2f2f2;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}
#dataTable th:nth-child(1),
#dataTable td:nth-child(1) {
  width: 5%;
}
#dataTable th:nth-child(5),
#dataTable td:nth-child(5) {
    width: 20%;
}

#pagination {
  margin-top: 10px;
  position: sticky;
  bottom: 0;
  background: white;
  width: 98%;
  text-align: right;
  padding: 15px 0;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
}

.pagination-button.active {
  background-color: #FB8904;
  color: #fff;
}

.pagination-button:hover {
  background-color: #f2f2f2;
  color: #000;
}

#analysis {
  background-color: whitesmoke;
  color: #153448;
  font-family: "Nunito Sans", sans-serif;
  align-items: center;
}

#analysis > .wrapper {
  margin: 0 auto;
  padding: 30px 50px 30px 50px;
  width: 91%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#analysis > .wrapper > .container {
  grid-area: section5;
  width: 1150px;
  background-color: #fff;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10px;
  z-index: 92;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  height: 400px;
}

#analysis > .wrapper > h4 {
  text-align: center;
  font-size: 2rem;
  margin: 0px;
  padding: 30px 0px 30px 0px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: "Kanit", sans-serif;
}

#analysis .wrapper h5 {
  padding: 20px 20px 5px 50px;
  font-size: 1.5rem;
  margin: 5px;
}

#analysis .wrapper img {
  width: 1.5rem;
  margin-right: auto;
}

#analysis .wrapper p {
  margin-left: 1cm;
  margin-top: 0px;
  padding: 20px 50px 10px 55px;
  padding-top: 5px;
  font-size: 1rem;
  text-align: justify;
}

#analysis .wrapper ul {
  margin-top: 0px;
  padding: 10px 50px 20px 55px;
}

#analysis .wrapper li {
  margin-left: 1cm;
}

#team {
  background-color: #153448;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  align-items: center;
}
#team > .wrapper {
  margin: auto;
  padding: 0px 0px 30px 0px;
  width: 93%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
#team > .wrapper h4 b {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
}
#team > .wrapper .leader-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
}
#team > .wrapper .member-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  padding: 0 25px;
}
#team > .wrapper > h4 {
  text-align: center;
  font-size: 2rem;
  margin: 0px;
  padding: 30px 0px 30px 0px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#team > .wrapper .member {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#team > .wrapper .member h6 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 1rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}
#team > .wrapper .member h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  text-align: center;
  color: #ffde3d;
  line-height: 1.5;
}
#team > .wrapper .member p {
  margin-top: 0;
  text-align: center;
}
#team > .wrapper .member img {
  width: 95%;
  border-radius: 5%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.footer {
  background-color: whitesmoke;
  margin: 0;
  padding: 15px;
}
.footer p {
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }

  .section-3 .chart-container {
    width: 310px;
  }

  .section-4 .chart-container {
    width: 470px;
  }

  #analysis > .wrapper > .container {
    width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  .menu {
    width: 70%;
  }

  .header-jumbotron > h4 {
    font-size: 1.2rem;
  }
  .header-jumbotron > h5 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
  .header-jumbotron > p {
    font-size: 1rem;
  }

  .button {
    width: 120px;
    height: 60px;
  }
  .button-xl {
    font-size: 0.7rem;
  }

  #statistic > .wrapper > div > p {
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;
  }
  #statistic > .wrapper > div > small {
    font-size: 1.3rem;
  }

  #statistic > .wrapper > div > p > i {
    font-size: 2.5rem;
  }

  nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
  }

  div > .wrapper > small {
    font-size: 2rem;
  }

  .section-1 > .card > p {
    font-size: 1.8rem;
  }

  .section-3 .chart-container {
    width: 270px;
  }

  .section-4 .chart-container {
    width: 400px;
  }

  #analysis > .wrapper > .container {
    width: 760px;
    height: 460px;
  }
}

@media only screen and (max-width: 780px) {
  .menu {
    width: 78%;
  }
  .menu a {
    font-size: 1em;
  }
  .header-jumbotron > h4 {
    font-size: 1rem;
  }
  .header-jumbotron > h5 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .header-jumbotron > p {
    font-size: 0.8rem;
  }
  .button {
    width: 110px;
    height: 50px;
  }
  .button-xl {
    font-size: 0.5rem;
  }

  #statistic > .wrapper > div > p {
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
  }

  #statistic > .wrapper > div > small {
    font-size: 1.2rem;
  }

  #statistic > .wrapper > div > p > i {
    font-size: 2rem;
  }

  .section-1 > .card > p {
    font-size: 1.6rem;
  }

  .section-1 > .card > small {
    font-size: 1.6rem;
  }

  .section-3 .chart-container {
    width: 230px;
  }

  .section-4 .chart-container {
    width: 350px;
  }

  #analysis > .wrapper > .container {
    width: 635px;
    height: 480px;
  }
}

@media only screen and (max-width: 600px) {
  .header-jumbotron > h5 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  a {
    font-size: 1rem;
  }

  #statistic > .wrapper {
    padding: 10px;
    flex-direction: column;
  }

  #statistic > .wrapper > div > p {
    font-size: 2rem;
    align-items: center;
  }
  #statistic > .wrapper > div > p > img {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #statistic > .wrapper > div > small {
    font-size: 1.5rem;

    color: #fff;
    text-shadow: black;
  }

  button.hamburger {
    display: flex;
  }

  .menu{
    display: none;
  }

  .tampil{
    display: inline;
  }

  .tampil > ul {
    flex-direction: column;
    right: auto;
    background-color: #153448;
    width: 63.4%;
    position: fixed;
    top: 85px;
  }

  .tampil > ul > li {
    padding: 10px 20px 10px 20px;
  }

  

  .filter {
    width: 95%;
  }

  .section-1 {
    width: 93%;
  }

  .section-1 > .card > p {
    margin-top: 10px;
    font-size: 1.1rem;
    align-items: center;
  }

  .section-1 > .card > small {
    font-size: 1rem;
    align-items: center;
  }

  .section-2 {
    width: 98%;
  }

  .section-3 {
    display: inline;
    width: 100%;
    background-color: whitesmoke;
    justify-content: space-evenly;
  }

  .section-3 .chart-container {
    width: 400px;
    justify-content: center;
    margin-top: 10px;
  }

  .section-4 {
    display: inline;
  }

  .section-4 .chart-container {
    width: 520px;
    height: 310px;
  }

  #analysis > .wrapper > .container {
    width: 455px;
    height: 680px;
  }

  #team > .wrapper .member-wrapper {
    gap: 1px;
    padding: 0 5px;
  }
}
